# Database
DATABASE_URL="postgresql://username:password@localhost:5432/mentorship_hub?schema=public"

# Next.js
NEXTAUTH_SECRET="your-secret-key"
NEXTAUTH_URL="http://localhost:3000"

# Email Service (Brevo)
BREVO_API_KEY="your-brevo-api-key"
FROM_EMAIL="noreply@samadvisoryhub.com"
FROM_NAME="SamAdvisoryHub"
SUPPORT_EMAIL="support@samadvisoryhub.com"



# Stripe
STRIPE_SECRET_KEY="your-stripe-secret-key"
STRIPE_PUBLISHABLE_KEY="your-stripe-publishable-key"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="your-stripe-publishable-key"
STRIPE_WEBHOOK_SECRET="your-stripe-webhook-secret"

# YouTube API
YOUTUBE_API_KEY="your-youtube-api-key"
